@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #111111;
    --gray: #bbbbbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

/*NAVBAR*/

.navbarContainer {
    background: var(--black) !important;
    max-height: 15vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 5vw;
    margin-left: 50%;
}

.itemsContainer {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
}

.navItems {
    list-style: none;
    justify-content: center;
}

.icon {
    margin-right: 5px;
}

.navItems a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
    transition: 0.5s;
}

.navItems a:hover {
    color: var(--gray);
}

.socialMedia a i {
    font-size: 2vw;
    margin-right: 2vw !important;
    color: var(--white);
    transition: 0.5s;
}

.socialMedia a i:hover {
    scale: 120%;
    color: var(--gray);
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 10vw;
    }
}

/*MAIN*/
.firstPage {
    display: flex;
}

.firstPage img {
    width: 500px;
    margin-top: 25px;
    margin-left: 4em;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 5em;
    margin-right: 5vw;
}

.title h1, .title h2 {
    font-weight: 700;
    font-size: 4em;
    text-align: right;
    justify-content: end;
}

.name p {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 20px;
    margin-top: 2em;
}

.contatoButton {
    align-self: flex-end;
    width: 122px;
    height: 40px;
    border-radius: 18px;
    background: var(--black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s;
}

.contatoButton:hover {
    scale: 110%;
    background: none;
    border: 1px solid var(--gray);
    color: var(--black);
}

.secondPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondPage h3 {
    margin-top: 115px;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 10px;
}

.contentPage {
    display: flex;
}

.contentText {
    margin-top: 115px;
}

.contentText p {
    margin-left: 70px;
}

.contentPage img {
    width: 700px;
}

.socialMediaBox {
    margin-top: 67px;
    max-width: 450px;
    min-height: 134px;
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMediaBox a {
    margin-left: 60px;
    color: var(--white);
    font-size: 30px;
}

.socialMediaBox a i span {
    font-size: 16px;
    margin-left: 30px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .firstPage {
        flex-direction: column-reverse;
        align-items: center;
    }

    .firstPage img {
        width: 250px !important;
    }

    .title {
        text-align: center;
    }
    
    .title h1, .title h2 {
        font-size: 2em !important;
        text-align: center;
    }
    
    .contatoButton {
        align-self: center;
    }
    
    .secondPage h3 {
        font-size: 1.5em !important;
        width: 300px !important;
    }
    
    .socialMediaBox {
        max-width: 400px !important;
    }
    
    .socialMediaBox a {
        margin-left: 30px !important;
        font-size: 20px !important;
    }
    
    .socialMediaBox a i span {
        font-size: 16px;
        margin-left: 30px;
        font-weight: 700;
    }
}

@media screen and (max-width: 1024px) {
    .firstPage img {
        margin-left: 2em;
    }

    .title {
        margin-left: 2em;
    }

    .title h1, .title h2 {
        font-size: 3em;
    }
    
    .name p {
        font-size: 1.2em;
    }
    
    .secondPage h3 {
        width: 500px;
        text-align: center;
    }

    .contentText {
        margin-top: 60px;
    }

    .contentPage {
        flex-direction: column;
        align-items: center;
    }

    .contentText p {
        margin-left: 0;
        text-align: center;
    }
    
    .contentPage img {
        display: none;
    }
    
    .socialMediaBox {
        margin-top: 67px;
        max-width: 450px;
        min-height: 134px;
        background: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .socialMediaBox a {
        margin-left: 60px;
        color: var(--white);
        font-size: 30px;
    }
    
    .socialMediaBox a i span {
        font-size: 16px;
        margin-left: 30px;
        font-weight: 700;
    }
}

@media screen and (max-width: 1200px) {
    .firstPage img {
        width: 300px;
    }

    .contentPage img {
        width: 500px;
    }

    .socialMediaBox {
        margin-bottom: 3em;
    }
}

/*FOOTER*/

.footer {
    background-color: var(--black);
    max-height: 6vh;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.footer p {
    margin-top: 10px;
}

.footer > div > a > i {
    font-size: 20px;
    margin-top: 10px;
}

.dev {
    margin-left: 48px;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        max-height: 100vh;
        align-items: center;
    }

    .dev {
        margin-left: 0;
    }
}